* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Cabeçalho */

header {
    height: 120px;
    background-image: linear-gradient(#2596BE 66.67%,  #041014 33.33%);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 66.67%
   
}

.logo {
    width: 350px;
    display: flex;
    align-items: center;
}

.buscador {
    width: 500px;
    height: 40px;
    border-radius: 5cm;
    border: 0;
    padding-left: 20px;
    background-image: url(../img/lupa.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 465px;
}

.buscador::placeholder {
    font-size: 15px;
}

.buscador:focus{
    outline: none;
    
}

.logo-buscador {
    display: flex;
    width: 850px;
    justify-content: space-between;
    align-items: center;
}

.icone-login {
    width: 30px;
    height: 30px;
}

.texto-login {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: white;
}


.carrinho {
    width: 30px;
    height: 30px;
    
}

.login-texto {
    display: flex;
    justify-content: space-between;
    width: 110px;
    text-decoration: none;
}

.login-carrinho {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

/* menu */

.container-grid-menu {
    width: 1200px;
    height: 33.33%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.menu {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-menu {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

main {
    height: 500px;
}

/* Banner */

.banner {
    height: 80%;
    width: 100%;
    background-image: linear-gradient(to right, #145369, #010303 70%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-banner{
    display: flex;
    align-items: center;
    justify-self: center;
    height: 350px;
    width: 450px;


    
}

.imagem-godofwar {
    width: 140px;
    height: 200px;
    align-self: flex-start;
}

.imagem-horizon {
    width: 140px;
    height: 200px;

}

.imagem-fifa {
    width: 140px;
    height: 200px;
    align-self: flex-end;
}

.texto-destaque {
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.promocao {
    width: 350px;
    height: 40px;
    background-color: #278D38;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-promocao {
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
   
}

.botao-promocao {
    width: 200px;
    height: 38px;
    background-color: #8cdee9;
    color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
}

.destaque-banner {
    height: 150px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* informações */

.informacoes {
    background-color: #2596BE;
    height: 20%;
    width: 100%;
}

.icone-texto-informacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icone-informacoes {
    height: 50px;
    width: 50px;
    margin-right: 5px;

}

.titulo-informacoes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

}

.texto-informacoes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;

}

/* Rodapé */

footer {
    height: 400px;
    background-color: #145369;
}

.titulo-informacoes-rodape {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.informacoes-rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    margin-top: 40px;
}

.titulo-rodape {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

}

.link-rodape {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white; 
    text-decoration: none;
}

.icone-link-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.icone-rodape {
    width: 16px;
    height: 16px;
}

.atendimento-rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    margin-top: 40px;

}

.icone-rede-rodape {
    width: 30px;
    height: 30px;
}

.redes-rodape {
    display: flex;
    width: 70px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10%;
}

.icone-pagamento {
    width: 40px;
    height: 20px;
    background-color: white;
}

.pagamento-rodape {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

/* login */

.transforma-header{
    background-image: none;
    background-color: #2596BE;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.transforma-main{
    height: 500px;
    /* background: linear-gradient(#a2a5a5 , #b7bebe), url(../img/herois); */
    /* background: linear-gradient(#aaadad, #b7bebe), url(../img/herois.jpg); */
    /* background: linear-gradient(#e2e7e7, #dbe6e6), url(../img/herois); */
    background: linear-gradient(#808383 10%, rgb(255, 255, 255)), url(../img/herois.jpg);
    /* background-image: url(../img/herois.jpg); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-blend-mode: darken;

}


.container-grid-login {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.campo-login {
    width: 300px;
    height: 40px;
    opacity: 70%;
    background-color: #010303;
    border: 1px;
    padding-left: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500px;
    color: white;
    margin-bottom: 5%;
    
}

.login {
    display: flex;
    height: 75%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.botao-login {
    width: 300px;
    height: 40px;
    background-color: #8cdee9;
    color: white;
    border-radius: 5px;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
}

.campo-login:focus {
    color:black;
    background-color: white;
    opacity: 90%;
    outline: none;

}

.titulo-login {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 25px;
    margin-bottom: 10%;
}

.link-muda-senha {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #808383;
    font-size: 14px;
    margin-bottom: 5%;
}

.linha-divisao {
    height: 70%;
    border-left: 1px solid;
    color:#2596BE;
    display: flex;
    justify-content: flex-start;
   
}